<div class="jumbotron">
   <h1>Blocipedia</h1>
   <h2>Because it's fun to be the friend who knows things.</h2>
   <p>
      <% if current_user.nil? %>
         <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-lg btn-primary' %> today to start creating and sharing wikis.
      <% else %>
         <%= link_to "Get your wiki on.", wikis_path, class: 'btn btn-lg btn-primary' %>
      <% end %>
   </p>
</div>

<div class="container landing">
   <div class="row">

      <div class="col-md-6">
         <h3>Free</h3>
         <ul>
            <li>Create public wikis.</li>
            <li>Share wikis with friends.</li>
         </ul>
      </div>
      <div class="col-md-6">
         <h3>Premium</h3>
         <ul>
            <li>Create private wikis.</li>
            <li>Create public wikis.</li>
            <li>Share wikis with friends.</li>
            <li>Receive updates on your wikis.</li>
            <li>Other awesome stuff.</li>
         </ul>
      </div>

   </div>
</div>
