<div class="page-header">
   <h1>Edit a Wiki</h1>
</div>

<div class="row">
   <div class="col-md-4">
      <h4>
         Stay cool, follow the rules:
      </h4>

      <ul>
         <li>Know your audience.</li>
         <li>Stay on topic.</li>
         <li>Paraphrase, don't plagarize!</li>
         <li>Cite your sources.</li>
         <li>Write neutrally.</li>
      </ul>
   </div>

   <div class="col-md-8">
      <%= render :partial => 'form' %>
   </div>
</div>
